* {}

body {
    background-color: rgba(167, 130, 64, 0.466);
}

h1 {
    text-align: left;
}

header{
    background-image: url(../img/torta.jpg);    
}

ul {
    list-style: none;
}

.logoText {
    font-family: 'Yellowtail', cursive;
    font-weight: 200;
    
}

.logo {
    border-radius: 50%;
}

.slogan {
    width: 30%;
    text-align: center;
}
