* {
    padding: 0;
    margin: 0;
}

body {
    background-color: rgba(255, 255, 255, 0.466);
}

.navBar {
    position: fixed;
    width: 100%;
    text-align: right;
    height: 80px;
    background-color: #ffe7cc;
}

.navBar__list {
    list-style-type: none;
    align-items: center;
    margin-right: 10px;
}

.navBar__listItem {
    display: inline;
    margin: 5px;
    line-height: 80px;
}

.navBar__listItem a {
    font-family: 'Montserrat', sans-serif;
    font-size: medium;
    color: rgb(32, 32, 32);
    text-decoration: none;
    text-align: center;
}

section {
    padding: 100px 0;
}

.header {
    background-image: url(../assets/img/bg.jpg);
    min-height: 90vh;
    background-position: center;
    background-size: cover;
    align-items: center;
}

.header__logoContainer {
    position: fixed;
    top: 18px;
    margin: auto;

    /*! align-content: center; */
    text-align: center;
    width: 100%;
}

.logo {
    border-radius: 50%;
    width: 5%;
    min-width: 100px;
    border-bottom: 5px solid #bae8d4;

}


.mainText {
    margin: auto;
    padding: 5%;
    font-family: 'Montserrat', sans-serif;
    width: 60%;
    text-align: center;
}

.titulo {
    height: 100px;
    font-family: 'Merienda', cursive;
    font-family: 'Sriracha', cursive;
    font-family: 'Courgette', cursive;
    font-size: 230%;
    color: rgb(39, 39, 39);
    text-align: center;
}


.galeria {
    text-align: center;
    width: 80%;
    margin: auto;
    margin-bottom: 100px;
}

.galeria img {
    padding: 16px;
    margin: auto;
    width: 20vh;
    height: auto;
    border-radius: 30px;
}

.mediaIcon {
    text-align: center;
}

.mediaIcon a {
    font-size: 100px;
    margin: 50px;
}

.commentContainer {
    margin: auto;
    padding: 50px;
    width: 20%;
    min-width: 300px;
    height: 30%;
    font-family: 'Rajdhani', sans-serif;
    font-size: 30px;
    font-weight: 400;
    color: rgb(119, 119, 119);
    text-align: center;
}

.verdePastel {
    background-color: #bae8d4;
}

.fa-facebook {
    color: #3b5998;
}

.fa-instagram {
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.fa-whatsapp {
    color: #25d366;
}

footer {
    height: 10vh;
    background-color: rgb(20, 20, 20);
}
